---
import NewsComponent from '@/components/home/NewsComponent';
import { getNews } from '@/lib/get-news';

const { products } = await getNews({ categoryId: '' });
---

<section id="InformationOfInterestSection" class="mt-8">
	<h1 class="mb-4 text-3xl font-semibold">Información de interés</h1>
	<div class="inline-flex h-80 w-full gap-2 bg-gray-500 shadow-2xl">
		<div class="flex h-full w-full items-center">
			<NewsComponent
				product={products[5]}
				bgOverlay={true}
				showContent={false}
				className="h-full w-full"
			/>
		</div>
		<div class="flex h-full w-full items-center">
			<NewsComponent
				product={products[6]}
				bgOverlay={true}
				showContent={false}
				className="h-full w-full"
			/>
		</div>
	</div>
</section>
