---
import CarouselNews from '@/components/home/CarouselNews.jsx';
import NewsComponent from '@/components/home/NewsComponent';
import { getNews } from '@/lib/get-news';

const { products } = await getNews({ categoryId: '' });
---

<section
	id="newsSectionContainer"
	class="mt-8 flex h-fit w-full flex-col items-center justify-center gap-3 text-gray-50 md:flex-row md:px-2 xl:px-0"
>
	<div
		id="mainNews"
		class="h-[18rem] w-[95%] bg-cover bg-center bg-no-repeat md:h-[26rem] md:w-[60%]"
	>
		<CarouselNews products={products} client:visible />
	</div>
	<div id="secondaryNews" class="flex h-[26rem] w-[95%] flex-col gap-y-3 md:w-[40%]">
		{
			products.slice(3, 5).map((item: any) => (
				<div
					class="bg-end flex h-1/2 w-full items-end bg-cover bg-no-repeat"
					style={`background-image: linear-gradient(180deg,rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.7) 100%), url(${item.image})`}
				>
					<NewsComponent
						product={item}
						truncateWords={30}
						bgOverlay={true}
						className="h-full"
						showContent={false}
					/>
				</div>
			))
		}
	</div>
</section>
