---
import { getHomeInfo } from "lib/get-home-info"
import Layout from "../layouts/Layout.astro"

import { BlocksRenderer } from "@strapi/blocks-react-renderer"
import { getCategories } from "lib/get-categories"

const { title, description, images } = await getHomeInfo()
const categories = await getCategories()
---

<Layout title="Test" booleanLayout={true}>
    <h1>{title}</h1>

    <div>
        <BlocksRenderer
            content={description}
        />
    </div>
    <div>
        <img src={images} alt={title} />
    </div>


    CATEGORIAS
    <ul>
        {categories.map((i:any) => (
            <li id={i.slug}>
                <a href={`/categorias/${i.slug}`}>
                    <img src={i.image} alt={i.name} />
                    <h2>{i.name}</h2>
                    <h2>{i.description}</h2>
                </a>
            </li>
        ))}
    </ul>
</Layout>